<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>SUFeedURL</key>
	<string>https://chigkim.github.io/sputest/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>mag38x5Zl6J5oFFwEeO4MfVY+4jJqEsDZPL6nHmbPg8=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
